*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(102, 0, 26);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.header{
    width: 850px;
    height: 130px;
    background-color: darkorange;
    display: flex;
    justify-content: space-between;
    align-items: center;}

    .logo_img{
    height: 140px;
    width: 140px;
    border-radius: 20px;
     margin-top: -65px;
    
}

.pera1{
    margin-left: 150px;
    margin-top: -120px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: large;
}
.fa-star{
    margin-left: 10rem;
    margin-top: 10px;
    /* font-size: 24px; */
}
.srat_text{
    font-size: 10px;}

.Rightside_div{
    /* background-color:palegoldenrod; */
     height: 130px;
    width: 370px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    

}
.fa-cutlery{
    font-size: 20px;
}
.fa-info-circle{
    font-size: 20px;

}
.fa-asterisk{
    font-size: 20px;}
.number{
    font-size: 25px;
    
}
.delever{
    margin-top: 20px;
    margin-left: 3rem;
    color: green
}
.for_icons{
    /* background-color: aliceblue; */
    height: 100px;
    width: 170px;
    display: flex; 
 justify-content: space-between;
 margin-left: 15px;
 padding-top: 6px;

    
}
.for_num{
    height: 100px;
    width: 150px;
  
}
.menu_icons{
    margin-top: 30px;
    margin-left: -60px;
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    cursor: pointer;
    text-decoration: underline;
    
}
.main_img{
    height: 400px;
    width: 700px;
    margin-left: 77px;
    margin-top: 15px;
    border-radius: 12px;
}
/* **********************************DISHES DIVISION STYLING**************************** */
.down_div{
    height: 200px;
    width: auto;
    /* background-color: aliceblue; */
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.first_down_div{
    height: 190px;
    width: 250px;
    background-color: aquamarine;
    margin: 7px;
}
.manu_span{
    height: 30px;
    width: 250px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 160px;
    margin-left: -257px; 
    text-transform: uppercase;
    font-style: italic;
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: bold;  
    
}
.manu_span:hover{
background-color: black;
opacity: 0.7;

}
.down_img{

    height: 190px;
    width: 250px;
    /* margin-top: 70px; */
}













